In [ ]:
age=16
if age<18:
  print("you are not eligible to vote")

you are not eligible to vote

In [ ]:
num=10
if num%2==0:
  print("even no")
else:
  print("odd no")

even no

In [ ]:
marks=80
if marks>=90:
  print("Grade A+")
elif marks>=80:
  print("Grade A")
elif marks>=70:
  print("Grade B")
elif marks<=50:
  print("Grade F")
else:
  print("Grade C")

Grade A

In [ ]:
is_adult=True
has_id=True
if is_adult and has_id:
  print("you can vote")
else:
  print("you cannot vote")

In [ ]:
age=20
print("Adult" if age>=18 else "Minor")

Adult

In [ ]:
color="green"
match color:
  case "red":
    print("stop")
  case "yellow":
    print("slow")
  case "green":
    print("go")
  case _:
    print("invalid color")

go

In [ ]:
fruits=["apple","banana","cherry"]
for fruit in fruits:
  print(fruit)

string="programming"
for char in string:
  print(char)

apple
banana
cherry
p
r
o
g
r
a
m
m
i
n
g

In [ ]:
people={"Alice":20,"John":19,"Sam":23}
for key,value in people.items():
  print(key,value)

Alice 20
John 19
Sam 23

In [ ]:
for i in range(3):
  print(i)

0
1
2

In [ ]:
for i in range(1,8,2): #start,stop,step
  print(i)

1
3
5
7

In [ ]:
while True:
  quit=input("Enter quit to break loop ")
  if quit=="quit":
    break

Enter quit to break loop ssss
Enter quit to break loop quit

In [ ]:
for i in range(10):
  if(i==9):
    break;
  if(i%2==0):
    continue:

In [ ]:
for i in range(3):
  for j in range(2):
    print(f"{i} , {j}")

0 , 0
0 , 1
1 , 0
1 , 1
2 , 0
2 , 1

In [ ]:
nums=[1,2,3,4,5]
search=7
for num in nums:
  if num==search:
    print("found")
    break
else:
  print("not found")

not found

In [ ]:
def print_args(*args): # when we dont know no of arguments being passed
  for arg in args:
    print(arg)
print_args(1,2,3)
print_args('a','b','c')

1
2
3
a
b
c

In [ ]:
def print_kwargs(**kwargs):
  for key,value in kwargs.items():
    print(f"{key}:{value}")
print_kwargs(name="Alice",age=20)

name:Alice
age:20

In [ ]:
sq=lambda x:x**2
print(sq(5))

25